
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    width:100%;
    height: 100%;
}
body{
    background-color:black;
    width:100%;
    height: 100%;
    position: relative;
}
.cambox{
    background-color:white;
    border-color: rgb(195, 57, 254);
    border-style:solid;
    border-top-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-right-width: medium;
    border-radius: 50px;
    width: 90%;
    height: 70%;
    padding: 10px 5px 10px 30px;
    border-width: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: row;
}
.camera{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

#timer {
    font-size: 2em;
    font-family: 'Cafe24Ssurround';
    font-weight: 50;
    color: white;
    width: 10%;
    color: white;
}

#timer div {
    display: inline-block;
    min-width: 45px;
    padding: 5px;
    background: #020b43;
    border-radius: 80px;
    border: 2px solid #030d52;
    text-align: center;
}

#timer div span {
    font-family: 'Cafe24Ssurround';
    color: #ffffff;
    display: block;
    margin-top: 15px;
    font-size: .10em;
    font-weight: 200;
}

#cam {
    width: inherit;
    aspect-ratio: calc(16/9);
}

p{
    font-size: 25pt;
    color:white;
    font-family: 'Cafe24Ssurround';
    text-shadow: -2px 0px rgb(195, 57, 254), 0px 2px rgb(195, 57, 254), 2px 0px rgb(195, 57, 254), 0px -2px rgb(195, 57, 254);
}

#start {
    font-family: 'Cafe24Ssurround';
    font-size: 30pt;
    color:white;
    text-shadow: -2px 0px rgb(195, 57, 254), 0px 2px rgb(195, 57, 254), 2px 0px rgb(195, 57, 254), 0px -2px rgb(195, 57, 254);
    border-color: rgb(195, 57, 254);
    padding: 20px 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    display:block;
    border-style:solid;
    border-width: medium;
}

.popup {
    display: flex; /*hide setting*/
    position: fixed;
    left: 50%;
    top: 50%;
    width: 60%; /*가로길이 설정은 여기서*/
    margin-left: -30%; /*width의 반만큼 음수로*/
    height: 200px; /*세로길이 설정은 여기서*/
    margin-top: -100px; /*height의 반만큼 음수로*/
    z-index: 10;

    /*style*/
    background: transparent;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 1;
    backdrop-filter: blur(30px);
    transition: all ease 1s;
}

.info {
    margin-left: 3px;
}
#count {
    font-size: 25pt;
    font-family: 'Cafe24Ssurround';
    font-weight: bold;
}
