<!DOCTYPE html>
<html>
    <head>
        <title>start</title>
        <link rel="stylesheet" href="/static/startpage.css">
    </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <div>
                    <img class="photo" src="/static/images/neon.png">
                </div>
                <div>
                    <button onclick="location.href='/background';" class="startbutton" type="button">시작하기</button>
                </div>
            </div>
            <div class="item">
                <div class="flex">
                    <div class="numPan">
                        <div class="disp">
                            <input id="name" type="text" placeholder="인원수를 입력하세요" name="name" type="number" value="" disabled>
                        </div>
                        <br>
                        <div class="nums">
                            <div class="flex r r1">
                                <div class="num_btn" value="1"><span>1</span></div>
                                <div class="num_btn" value="2"><span>2</span></div> 
                                <div class="num_btn" value="3"><span>3</span></div>      
                            </div>
                
                            <div class="flex r r2">
                                <div class="num_btn" value="4"><span>4</span></div>
                                <div class="num_btn" value="5"><span>5</span></div> 
                                <div class="num_btn" value="6"><span>6</span></div>  
                            </div>
                
                            <div class="flex r r3">
                                <div class="num_btn" value="7"><span>7</span></div>
                                <div class="num_btn" value="8"><span>8</span></div> 
                                <div class="num_btn" value="9"><span>9</span></div> 
                            </div> 
                
                            <div class="flex r r4">
                                <div class="num_btn" value="0"><span>0</span></div>
                            </div>
                
                        </div>
                
                    </div>
                
                </div>
            </div>  
        </div>
        <script src="/static/startpage.js"></script>
    </body>
</html>