<!DOCTYPE html>
<html>
    <head>
        <title>cam</title>
        <link rel="stylesheet" href="/static/cam.css">
        <meta charset="UTF-8" />
        <meta charset="EUC-KR" />

        <!-- 
        <meta http-equiv="refresh" content="80; url=https://w
        ww.naver.com/"> -->
    </head>
    <body>
        <div class="cambox">
            <div class="camera">
                <img id="cam" src="" width="1300" height="700"/>
            </div>
            <div id="timer"></div>
        </div>
        <script src="/static/cam.js"></script>
    </body>
</html>