<!DOCTYPE html>
<html>
    <head>
        <title>start</title>
        <link rel="stylesheet" href="/static/startpage.css">
    </head>
    <body>
        <div class="container">
            <div id="wrapper">
                <div>
                    <img class="photo" src="/static/images/neon.png">
                </div>
                <div>
                    <p style="color: white">완료!<br>밖의 직원에게 전화번호 알려주시면<br>인화된 다음에 연락드릴게요.<br> 코드 찍어가세요: {{ code                                                                                                                                                       }}</p>
                    <button onclick="location.href='/startpage';" class="startbutton" type="button">처음으로</button>
                </div>
            </div>
            <div class="item">
                <div class="flex">
                </div>
            </div>  
        </div>
        <script src="/static/startpage.js"></script>
    </body>
</html>